*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
/*------------------------------------------------Styling the header Section---------------------------------*/

/*------------------------------------------------Styling the nav bar---------------------------------*/
body i{
  position:absolute;
  right:0;
  top:5%;
  color:white;
  background: gray;

}
header{
    overflow-x: hidden;
    background:url(img/header/tech\ \(2\).png);
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
}
header nav{
    /* position: relative; */
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgba(123, 227, 253, 0.034);
    z-index: 2;
    width:100vw;
}
nav .links{
  position: relative;
  
}
nav .dMenu:hover  .test{
  background: green;
}

nav .menu{
  
  /* display:flex; */
  flex-direction: column;
  justify-content: center !important;
  gap:10px;
  position:absolute;
  top:10%;
  background:linear-gradient(to bottom,rgba(14, 53, 179, 0.432),rgba(61, 243, 243, 0.274));
  display:none;
}
.showMenu{
  display: flex;
}
nav .menu a{
  
margin-left:50px;

}
nav>div:first-child{
  width:15%;
  height:17.5vh;
 /*  background: orange; */
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:5px;
  position:relative;
  left:auto;
}
nav>div:first-child img{
    /* margin-left:20px; */
  width:80px;
  height:80px;
  
  background:white;
  border-radius: 50%;
  margin:0;
  padding:0;
}
nav>div:first-child p{
    /* transform:translate(-8.5rem); */
    font-size: 22px;
    color:white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif; 
}
nav a {
    color : white;
    margin-right:150px;
    font-size:1.1rem;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:10px;
}
nav  a:hover{
    color:rgb(177, 0, 0);
}
 .stickyHeader{
    position:fixed;
    background:linear-gradient(to right,rgba(0, 2, 109, 0.247),rgba(0, 204, 255, 0.212));
    backdrop-filter: blur(12px);
} 
.dropBtn{
  
  background:rgba(8, 71, 189, 0.5);
  z-index: 1;
  
  overflow: visible;

 position:relative;
    right:-20% !important;
  display:none;
}
.dropBtn span{
  display: block;
  width:30px;
  height:5px;
  margin:5px;
  
  background:rgba(47, 196, 255, 0.925);
}
.btnInv{
  background:rgba(47, 196, 255, 0.767);
  color:rgb(0, 27, 78);
}
.spanInv{
  background:rgb(0, 27, 78) !important;
}
.dropDown{
  position:fixed;
  top:17.3%;
  right:0;
  z-index: 2;
  height:100%;
  width:50%;
  background:linear-gradient(to bottom,rgba(14, 53, 179, 0.432),rgba(61, 243, 243, 0.274));
  backdrop-filter: blur(12px);
  display: flex;
  flex-direction: column;
  animation: menuAnimation 500ms ease ;
  display:none;
}
.dropDown a{
  text-align: right;
  padding:20px;
  font-size: 18px;
  color:white;
  font-family:Arial, Helvetica, sans-serif;

}
.hide{
  animation : menuAnimation1 500ms forwards;
 
}
@keyframes menuAnimation{
  0%{
    width:0%;
  }
  100%{
    width:50%;
  }}
  @keyframes menuAnimation1{
    0%{
      width:50%;
    }
    100%{
      width:0%;
      
    }}
  
/*------------------------------------------------Styling the hero section---------------------------------*/
header section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* clip-path:polygon(0 0,100% 0%,75% 100%, 0% 100%); */
    
    
    width:102vw;
    height:100vh;
    overflow: hidden;
    z-index: 1;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
}
header section h1{
    margin-left:40px;
    transform: translateY(-5rem);
    padding-bottom:10px;
    font-size:2.7rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
header section h3{
    margin-left:40px;
    transform: translateY(-5rem);
    font-size:1.7rem;
    font-weight: 500;
    color: white;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}
.custom-shape-divider-bottom-1701268051 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1701268051 svg {
  position: relative;
  display: block;
  width: calc(127% + 1.3px);
  height: 121px;
}

.custom-shape-divider-bottom-1701268051 .shape-fill {
  fill: #FFFFFF;
}
 header button{
     margin-left:40px;
     transform: translateY(-3rem);
    font-size:1.3rem;
    padding:px;
    background-color: rgba(240, 13, 13, 0.89);
    color:white;
    width:150px;
    height:60px;
    border-radius:12px;
 }
 header button:hover{
     background: white;
     color:red;
 }
/* header div img{
    position: absolute;
    z-index: 0;
    width:50%;
    transform:translate(705px,-550px); 
    top:10%;
    right:0px;
    display: block;
} */
.services{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
}
.services .services-intro{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height:50vh;
    background: rgb(255, 255, 255);
    
}
.services .services-intro h1{
    margin-top:80px;
    margin-left:30px;
    padding-bottom:10px;
    font-size:2.5rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

.services .services-intro  p{
    width:60%;
    margin-left:30px;
    transform: translateY(20px);
    font-size:1.5rem;
    font-weight: 500;
    color: black;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
.services>div{
    display: flex;
    justify-content: center;
    align-items:center;
    width:100%;
    height:100%;
    background:rgb(39, 102, 155);
}
.services .card
{
    align-self: center;
    overflow: hidden;
    width:50vw;
    height:100vh;
}
.services .card img:first-child{
  height:50vh;
}
.services .card h1{
    margin-top:100px;
    margin-left:25px;
    margin-right:25px;
    font-size:3.3rem;
    font-weight: 750;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}
.services .card a {
  color:rgba(165, 0, 0, 0.89);
  text-decoration: underline;
  font-weight: 600;
}
.services .card a:nth-child(even) {
  color:rgb(245, 253, 255);
  font-weight: 600;
}

.services .card p{
    margin-left:30px;
    margin-top:40px;
    margin-bottom:40px;
    font-size:1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    
    text-align: left;
    overflow: hidden;
    line-height: 25px;
    color:rgb(224, 224, 224);
}
.services button{
    margin-top:50px;
    margin-left:150px;
    font-size:1.3rem;
    padding:1px;
    background-color: rgba(165, 0, 0, 0.89);
    color:white;
    width:300px;
    height:60px;
    border-radius:50px;
}
.services div img{
    transform:translateY(-0px);
    width:50vw;
    height:100vh;
}
.services .card:nth-child(2)
{   
    background: rgb(128, 0, 0);
}
.services .card:nth-child(2) h1 
{   
    font-weight: 500;
   color:white;
}
.services .card:nth-child(2) p 
{   
   color:white;
}
.services .card:nth-child(2) button
{   
    font-weight: 600;
    font-size:1.2rem;
   background-color:rgb(221, 221, 221);
   color:rgb(161, 0, 0);
}

.values{
    background: rgb(248, 248, 248);
}
.values .services-intro{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height:50vh;
    background: rgb(248, 248, 248);
    
}
.values .services-intro h1{
    margin-top:80px;
    margin-left:30px;
    padding-bottom:10px;
    font-size:2.5rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

.values .services-intro  p{
    width:60%;
    margin-left:30px;
    transform: translateY(20px);
    font-size:1.5rem;
    font-weight: 500;
    color: black;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
.values .values-cards{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    margin-left:150px;

}
.values-cards div{
    margin-bottom: 30px;
}
.values-cards img{
    width:100px;
    height:100px;
    transform: translateX(66px);
}
.values-cards h1{
    transform: translateX(66px);
    font-size:1.3rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}
.values-cards p{
    font-size:1.2rem;
    font-weight: 500;
    width:66%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

.technologies{
    width:100%;
    height:50vh;
    background: rgb(255, 254, 254);
}
.technologies h1{
   text-align: center;
    margin-top:120px;
    margin-left:30px;
    padding-bottom:10px;
    font-size:2.5rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    overflow: hidden;
}
.technologies p{
    
    width:60%;
    margin-left:250px;
    transform: translateY(20px);
    font-size:1.5rem;
    font-weight: 500;
    color: black;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
.wrapper1{
    margin: 0;
    padding: 0;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
}
.slider{
    width: 1300px;
    height: 400px;
    border-radius: 10px;
    /* border-bottom:4px solid rgb(184, 0, 0);
    border-left:2px solid rgb(184, 0, 0);
    border-right:3px solid rgb(184, 0, 0); */
    box-shadow: 5px 5px 12px rgb(1, 55, 80);
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
    flex-direction: row;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 20%;
    transition: 1.5s;
  }
  
  .slide img{
      transform:translateY(-50px);
    width: 120px;
    height: 100px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: space-evenly;
    margin-left:250px;
  }
  
  .manual-btn{
    border: 2px solid rgb(39, 102, 155);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: rgb(39, 102, 155);
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
    
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  .Na3lbook{
    background: rgb(39, 102, 155);
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
  }

  .wrapper2{
    position:relative;
    margin: 0;
    padding: 0;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/section1/istockphoto-1438634414-612x612\ \(2\).png);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}
.whyUs{
    position:absolute;
    width:200px;
    height:200px;
    
    z-index: 1;
    transform: translateY(20px);
    left:32%;
    font-size:2.9rem;
    font-weight: 500;
    width:66%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.wrapper2::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(to right,rgba(0, 0, 0, 0.822),rgba(128, 128, 128, 0.815));
}
.slider1{
    z-index: 1;
    width: 1300px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
  }

  .slider1 .review{
    display:flex;
    margin-top:20px;
    transform:translateY(50px);
  }
  .slider1 .review span{
    color:rgb(255, 68, 68);
    width:20px;
    margin:5px;
  }
  .slides1{
    width: 500%;
    height: 500px;
    display: flex;
    flex-direction: row;
  }
  
  .slides1 input{
    display: none;
  }
  
  .slide1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 20%;
    transition: 1.5s;
  }
  
  .slide1 img{
   /*  margin-left:45% */
    margin-right:20px;
    width: 200px;
    height: 180px;
    border: solid 2px rgb(218, 42, 42);
    border-radius:15px;
  }
  .slide1 .testimonial p{
    transform:translateY(50px);
    color:rgb(218, 42, 42);
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.5rem;
    text-align: left;
    padding:10px;
    font-weight: 600;
    width:80%;
  }
  .slider1 a{
    color:rgb(218, 42, 42);
  }
  .slide1  p{
    
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.5rem;
    text-align: left;
    padding:10px;
    color:white;
    width:80%;
  }
  
  .slide1 .testimonial{
    display:flex;
    
  }
  /*css for manual slide navigation*/
  
  .navigation-manual1{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    margin-left:280px;
  }
  
  .manual-btn1{
    border: 2px solid rgb(155, 39, 39);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn1:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn1:hover{
    background: rgb(155, 39, 39);
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
  
  #radioB1:checked ~ .first1{
    margin-left: 0;
  }
  
  #radioB2:checked ~ .first1{
    margin-left: -20%;
  }
  
  #radioB3:checked ~ .first1{
    margin-left: -40%;
  }
  
  #radioB4:checked ~ .first1{
    margin-left: -60%;
  }
  
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
    margin-left:280px;
  }
  
  .navigation-auto div{
    border: 2px solid rgb(155, 39, 39);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }

  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radioB1:checked ~ .navigation-auto .auto-btn1{
    background: rgb(155, 39, 39);
  }
  
  #radioB2:checked ~ .navigation-auto .auto-btn2{
    background: rgb(155, 39, 39);
  }
  
  #radioB3:checked ~ .navigation-auto .auto-btn3{
    background: rgb(155, 39, 39);
  }
  
  #radioB4:checked ~ .navigation-auto .auto-btn4{
    background: rgb(155, 39, 39);
  }
  .reminder{
    width:100%;  
    height:80vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reminder img{
    /* transform: rotate(10deg); */
   /*  margin-left:250px;  */
    width:30%;
    height:40vh;
}
.reminder p{
    font-family:Arial, Helvetica, sans-serif;
    font-size:3.3rem;
    text-align: center;
  /*   transform: translateY(-40px); */
    font-weight: 500;
}
.reminder button{
    
   /*  transform: translate(600px,-20px); */
    font-size:1.3rem;
    padding:px;
    background-color: rgba(0, 71, 202, 0.89);
    color:white;
    width:150px;
    height:60px;
    border-radius:12px;
    margin-top:20px;
}

footer{
    background:rgb(51, 51, 51);
    color:rgb(214, 214, 214);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;

} 

footer section img {
  width:30px;
  height:30px;
  display: block;
}
footer section a{
  color:rgb(214, 214, 214);
}
footer section{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
footer section div {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
  gap:20px
}
footer section:nth-child(2)
{
  gap:5px;
  margin-top:-40px;
} 
footer section:nth-child(3){
  margin-top:-40px;
}

footer section:first-child{
  transform: translateX(10px); 
  margin-top:10px;
}

.end{
    display: flex;
    justify-content: center;
    height:30px;
    font:20px 'Times New Roman', Times, serif;
    background:rgb(51, 51, 51);
    color:rgb(214, 214, 214);
    font-family:Arial, Helvetica, sans-serif
    
}

/*-------------------------------------------------------- responsivness section----------------------------------------*/

@media screen and (max-width:1000px){
  nav{
    display: flex;
    justify-content: center;
  }
  nav .links{
    display:none;
  }
  nav .dropBtn{
    /* margin-right:200px; */
    display: block;
    margin-right:10%;

  }
  nav>div:first-child{
    left:15%;
    flex-direction: row;
    width:40%;
  }
}
@media screen and (max-width:768px){
    nav .links{ 
    display:none;
  }
 
  .services div{
   
   height:70vh;
  }
  .services .services-intro{
        height: 60vh;
  }
  .services .services-intro p {
    width:80%;
  }
  .services div .card{
    height:100%;
    
  }
  .services div img {
    height:100%;
  }
  .services .card h1{
    margin-top:10px;
    font-size: 2rem;
  }
  .services .card p{
    margin-top:20px;
    margin-left:10px;
    font-size:1rem;
  }
  .services button{
    margin-top:0;
    margin-left:0;
    border-radius:12px;
    width:400px;
    height:50px;

  }
  .wrapper1 .navigation-manual{
    margin-left:auto;
    margin-top:-50px;
    width:auto;
    flex-direction:row;
  }
  .manual-btn{
    margin-left:50px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .values .services-intro{
    transform: translateY(-10%);
    height:50vh;
  }
  .values .services-intro h1{
   /*  font-size:1.5rem; */
  }
  .values .services-intro  p{
    width:80%;
    font-size:1.3rem; 
  }
  .technologies{
    margin-bottom: 50px;
  }
  .technologies p{
    width:60%;
    margin:0;
    font-size:1.3rem;
  }
  .values .values-cards{
    margin-left:20px;
  }
  .values-cards img ,.values-cards h1 {
    transform: translateX(0px);
    margin-left:auto;
  }
  .technologies p{
    margin-left:25%;
    
  }
  .slide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
   
   }
  .slide img{
    width:6rem;
    height:5rem;
    display:block;
  }
  .whyUs{
    
    font-size:2.5rem;
    margin-left:-15%;
   
  }
  .navigation-manual1{
    margin-left:0;
  }
  .navigation-auto{
    margin-left:0;
  }
 /*  .reminder img{
    margin-left:0;
    
  }
  .reminder button{
    transform:translate(20rem,-10%);
  } */
  .reminder img{
    align-self: center;
    /* transform:translateX(-30%);  */
    width:60%;
  }
}

@media screen and (max-width:700px){
   *{
     overflow-x: hidden;
   }   
  body{
    margin:0;
    padding:0;
    width:100%;
    overflow-x: hidden;
  }
  nav>div:first-child{
    left:10%;
  }
  header section{
    width:100%;
    clip-path: none;
    text-align: center;
    
  }
  header section h1{
    margin:0;
  }

  header section h3{
    margin:10px;
  }
  header section button{
    margin:0 auto ;
  }
  header br {
    display:none;
  }
  /* header div img {
    display: none;
  } */
  

  .services .services-intro {
    width:100%;
    height:80vh;
  }
  .services .services-intro p{
    width:80%;
    font-size:1.3rem;
  }
  .services div{
    flex-direction: column;
    width:100%;
  }
  .services .card{
    width:100%;
    text-align: center;
    height:100vh;
    
  }
  /* .services .card:nth-child(4){
    
    text-align: center;
    height:150vh;
     */
  
  .services .card h1 {
    margin-top:2rem;
    margin-bottom:50px;
  }
  .services .card p {
    padding-left:5px;
    padding-right:5px;
    margin-left:10px;
    font-size:1.2rem;
    line-height: 2rem;
  }
  .services button{
    margin-top:0;
    margin-left:auto;
    border-radius:12px;
  }
  .services img{
    display: none;
  }
  .services .card:first-child p{
    transform:translateY(-30px);
  }
  .services .card:first-child button{
    transform:translateY(-30px);
  }
  .values .services-intro{
    width:100%;
    height:50vh;
  }
  .values .services-intro p{
    width:100%;
    margin-left:5px;
    margin-right:5px;
  }
  .values .values-cards{
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(1fr,6); */
    margin-left:auto;
    
  }
  .values-cards h1 {
    width:60%;
    margin-left:40%;
    
  } 
   .values-cards p{
    width:60%;
    margin-left:25%;
    
  } 
  .values-cards img{
    width:20%;
    margin-left:40%;
    
  }
  .technologies{
    width:100%;
    height:60vh;
    
  }
  .technologies p{
    font-size:1.3rem;
    
  }
  .technologies p{
    margin:0;
    width:95%;
    margin-left:auto;
  }
 
  .wrapper1 .navigation-manual{
    margin-left:-5%;
    margin-top:-50px;
    width:auto;
    flex-direction:row;
  }
  .manual-btn{
    margin-left:50px;
    margin-bottom: 10px;
    text-align: center;
  }
  .slider{
     width:90%;
     height:370px;
  }
  .slide {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   align-items: center;
   justify-content: center;
  
  }
  .slide img{
    width:70px;
    height:60px;
    display:block;
  }
  .slider1{
    width:100%;
    height:82vh;
    overflow:hidden;
    display:block;
  }
  .manual-btn:not(:last-child){
    margin-right:0;
  }
   .whyUs {
    font-size:1.8rem;
    width:360px;
    left:35%;
  }
 
  .slide1 .testimonial{
    flex-direction: column;
    
    width:100%;
   
  }
  .wrapper2 .navigation-manual1{
    margin-left:-20%;
  }
  .wrapper2 .navigation-auto{
    margin-left:-20%;}
 
 .slide1 .testimonial > div{
    width:100%;
    height:100%;
    overflow-y: hidden;
    margin:0;
  } 
   .slide1 .testimonial p{
  margin-left:25%;
   font-size: 1rem;
   
  } 
 
  .slide1 p {
    margin-left:15%;
    font-size:1rem;
    font-weight: 500;
    line-height: 1.5rem;
  }
  .slide1 .testimonial img{
    width:120px;
    height:150px;
    
    margin-left:37%;
    transform:translateY(55%);
  } 
  .slider1 .review{
    margin-left:35%;
    
    
  } 
  .wrapper2::after{
    height:80vh;
    
    overflow: hidden;
  }
  .reminder img{
    width:80%;
    transform:translateX(-10%); 
    align-self: flex-end;
  }
  .reminder button{
    
    width:25%;
  }
  footer{
    background:rgb(51, 51, 51);
    color:rgb(214, 214, 214);
    display:grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    
    
} 
footer section {
  transform:translateX(40px) !important;
  margin-top:50px;
}
footer section:nth-child(3){
  margin-top:100px;
  margin-left:-70px;
  flex-direction: row;
  gap:10px;
}
/* .whyUs{
  display:none;
}
.reminder img {
  display:none;
}*/
nav>div:first-child {
  flex-direction: row;
  width:40%;
}
} 
@media screen and (max-width:450px){
  body{
    width:128%;
  }
  
  nav>div:first-child p{
    font-size:5px;
  }
  .reminder img {
    display:none;
  }
  .whyUs{
    display:none;
  }
 /*  header nav div{
    display:none;
    
  } */
  header nav {
    width:100%;

  }
  .wrapper1 .navigation-manual{
    margin-left:-10%;
    margin-top:-30%;
    width:120%;
    /* flex-direction:column;  */
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
/* @media screen and (max-width:375px){
  body{
    width:128%;
  }
} */
/*--------------------------------------------------- Styling Contact Us-----------------------------------------------*/
